.input-container{
    position: relative;
  }
  
  .input-container input, .input {
    padding: 15px 10px;
    width: 100%;
    font-size: 1rem;
    background-color: white;
    margin-top: 0 !important;
    border-radius: 5px;
  }
  
  .add {
    position: absolute !important;
    padding: 10px !important;
    color: white !important;
    top: 4px ;
    right: 2px ;
    background-color: black !important;
    border-radius: 5px !important;
  }